<!DOCTYPE html>
<html>
<head>
	<title>{{ title if title else "Saviors of Middle Earth" }}</title>
	{%macro js(src)%}<script src="/js/{{src}}.js" type="text/javascript"></script>{%endmacro%}
	{%macro css(href)%}<link rel="stylesheet" type="text/css" media="all" href="/css/{{href}}.css"/>{%endmacro%}
	{%block javascript%}
	{{js('timezone')}}
	{{js('search-keyboard-shortcut')}}
	{{js('forms')}}
	{{js('flash')}}
	{%endblock%}
	{%block stylesheets%}
	{{css('base')}}
	{%endblock%}
</head>
<body>
	{%macro csrf_field()%}<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>{%endmacro%}
	<div id="header">
		<div class="parent">
			<div class="title">
				<div class="branding">Saviors of Middle Earth</div>
				<div class="subtitle">{{title if title else ""}}</div>
			</div>
			<form class="search-field" action="/search" method="get">
				<input type="search" id="search-field" autocomplete="off" placeholder="Search" name="q" title="Keyboard Shortcut: Ctrl-Alt-F" value="{{q|default}}"/>
			</form>
		</div>
	</div>
	{%if flash%}
	<div id="flash">
		<div class="close-button">x</div>
		{{flash}}
	</div>
	{%endif%}
	<div id="content">
		{% block content %}{% endblock %}
	</div>
	<footer id="copyright">
		&copy; Lisa Deng, Wes Kendrick, John King, Marc Rosen, and William Zhang 2013
	</footer>
{#This goes at the bottom so that it is at the highest z index#}
	{%if current_user%}
	<a id="messages-panel" href="#">
		<span id="msg-count">0</span> Msgs
	</a>
	{%endif%}
	<div id="user-panel" class="{{'loggedin' if current_user else 'guest'}}">
		{% if current_user %}
		<div class="profilepic">
			<a class="highlight" href="/settings"></a>
		</div>
		<a href="/items/">My Items</a>
		<a href="{{ '/'|logout_url }}">Logout</a>
		{%if current_user.admin%}<a href="/admin">Admin</a>{%endif%}
		<div class="nickname">{{current_user.nickname()}}</div>
		{% else %}
		<a href="{{ path|login_url }}">Login</a>
		{% endif %}
	</div>
</body>
</html>