html, body {
  position: absolute;
  margin: 0;
  padding: 0;
  background-color: white;
  font-family: Arial,Helvetica,'Ubuntu','Droid Sans','Open Sans',sans-serif;
  font-size: 14px;
  width: 100%;
  height: 100%; }

#header {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
  background-image: url("/images/logo.svg");
  height: 100px;
  width: 85%; }
  #header .parent {
    position: absolute;
    left: 105px;
    right: 5px;
    height: 100%; }
    #header .parent .title {
      position: absolute;
      top: 0px;
      left: 0px;
      width: 100%;
      text-align: center;
      font-weight: bold;
      font-size: 36px; }
    #header .parent .search-field {
      position: absolute;
      bottom: 0px;
      width: 75%;
      text-align: center;
      left: 50%;
      margin-left: -37.5%; }
      #header .parent .search-field input {
        width: 50%;
        text-align: center; }

#content {
  margin: 0 auto;
  width: 80%; }

#user-panel {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #DDD;
  border-bottom-left-radius: 10px;
  padding-right: 4px;
  overflow: hidden; }

#user-panel.guest {
  width: 50px;
  text-align: center;
  min-height: 20px;
  padding-left: 5px; }

#user-panel.loggedin {
  width: 150px;
  text-align: right;
  padding-left: 7px;
  min-height: 40px; }
  #user-panel.loggedin a {
    display: block; }
  #user-panel.loggedin .profilepic {
    background: blue;
    width: 36px;
    height: 36px;
    float: left;
    position: relative;
    z-index: 99; }
    #user-panel.loggedin .profilepic .highlight {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: 0px;
      right: 0px;
      border: 3px solid rgba(200, 200, 200, 0.75);
      opacity: 0;
      display: block; }
    #user-panel.loggedin .profilepic .highlight:hover {
      opacity: 1; }
  #user-panel.loggedin .nickname {
    text-align: left;
    height: auto; }

#messages-panel {
  position: absolute;
  top: 0px;
  background-color: #DDD;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-right: 4px;
  padding-left: 4px;
  margin-left: -25px;
  left: 50%;
  overflow: hidden;
  width: 50px;
  height: 20px;
  display: block;
  color: black;
  text-decoration: none;
  text-align: center;
  font-size: 13px; }

#messages-panel:hover {
  background-color: #AAA; }

#copyright {
  text-align: center;
  font-size: 9px; }
