.rich-text {
  position: relative; }
  .rich-text .toolbar {
    height: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: orange; }
  .rich-text iframe {
    border: none;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 20px;
    bottom: 0px; }
