.star-strip {
  background-repeat: repeat-x;
  background-size: contain;
  background-image: url("/images/star-back.svg");
  position: relative; }
  .star-strip div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("/images/star.svg"); }

.star-strip:not(.large) {
  height: 15px;
  width: 75px; }

.star-strip.large {
  height: 30px;
  width: 150px; }
