@import "bourbon/bourbon";

#thumbnail{
	float:left;
	width:256px;
	height:256px;
	border:1px solid black;
	background-color:orange;
	text-align:center;
	@include user-select(none);
	position:relative;
	div{
		margin-top:-5px;
		height:10px;
		position:absolute;
		top:50%;
		left:0px;
		width:100%;
	}
}
#right{
	float:right;
	width:400px;
	.labeled{
		span{
			font-weight:bold;
		}
	}
}

#clearer{
	clear:both;
}

@import "items/items-list";

#add-item-link{
	margin-bottom:20px;
}

.deactivation-button{
	@include button;
}