@import "bourbon/bourbon";
@import "images";

#thumbnail{
	float:left;
	width:256px;
	height:256px;
}
#right{
	float:right;
	width:400px;
	.labeled{
		span{
			font-weight:bold;
		}
	}
}

#nickname-form{
	display:inline;
	input[type=text]{
		outline:none;
		border:none;
		-webkit-appearance:none;
		background:none;
		cursor:pointer;
		font-size:inherit;
		font-family:inherit;
	}
	input[type=text]:not(:focus):hover{
		background:yellow;
	}
	input[type=text]:focus{
		background:auto;
		outline:auto;
		border:auto;
		-webkit-appearance:auto;
		cursor:auto;
	}
}

#clearer{
	clear:both;
}

@import "items/items-list";

#add-item-link{
	min-height:20px;
	display:block;
}

.admin-button{
	@include button;
}