.image-viewable, .image-editable, .item .thumbnail {
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;
  background-color: white;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center; }

.image-editable div {
  margin-top: -5px;
  height: 10px;
  position: absolute;
  top: 50%;
  left: 0px;
  width: 100%;
  display: none;
  font-weight: bold; }
.image-editable .image-submit {
  border: 1px solid #076fe4;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 0 0 #8ebcf1;
  box-shadow: inset 0 1px 0 0 #8ebcf1;
  color: white;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  background-color: #4294f0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #4294f0), color-stop(100%, #0776f3));
  background-image: -webkit-linear-gradient(top, #4294f0, #0776f3);
  background-image: -moz-linear-gradient(top, #4294f0, #0776f3);
  background-image: -ms-linear-gradient(top, #4294f0, #0776f3);
  background-image: -o-linear-gradient(top, #4294f0, #0776f3);
  background-image: linear-gradient(top, #4294f0, #0776f3);
  padding: 7px 18px;
  text-decoration: none;
  text-shadow: 0 1px 0 #0065d6;
  -webkit-background-clip: padding-box;
  position: absolute;
  width: 100%;
  left: 0px;
  bottom: 0px;
  display: none; }
  .image-editable .image-submit:hover:not(:disabled) {
    -webkit-box-shadow: inset 0 1px 0 0 #60a2ec;
    box-shadow: inset 0 1px 0 0 #60a2ec;
    cursor: pointer;
    background-color: #2f87ea;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2f87ea), color-stop(100%, #086fe3));
    background-image: -webkit-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -moz-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -ms-linear-gradient(top, #2f87ea, #086fe3);
    background-image: -o-linear-gradient(top, #2f87ea, #086fe3);
    background-image: linear-gradient(top, #2f87ea, #086fe3); }
  .image-editable .image-submit:active:not(:disabled) {
    border: 1px solid #076fe4;
    -webkit-box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee;
    box-shadow: inset 0 0 8px 4px #0868d3, inset 0 0 8px 4px #0868d3, 0 1px 1px 0 #eeeeee; }
  .image-editable .image-submit:disabled {
    opacity: 0.5;
    cursor: not-allowed; }

.image-editable:not(.highlight) {
  outline: 1px solid black; }

.image-editable.highlight {
  outline: 7px solid orange; }

.image-editable:hover div {
  display: block; }

.star-strip {
  background-repeat: repeat-x;
  background-size: contain;
  background-image: url("/images/star-back.svg");
  position: relative; }
  .star-strip div {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-repeat: repeat-x;
    background-size: contain;
    background-image: url("/images/star.svg"); }

.star-strip:not(.large) {
  height: 15px;
  width: 75px; }

.star-strip.large {
  height: 30px;
  width: 150px; }

.item {
  width: 100%;
  height: 128px;
  position: relative;
  margin-bottom: 15px; }
  .item .thumbnail {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 128px;
    height: 100%;
    display: block; }
  .item .details {
    position: absolute;
    top: 0px;
    left: 150px;
    height: 100%;
    width: 190px; }
    .item .details .name {
      font-weight: bold;
      display: block; }
    .item .details .price, .item .details .expiration {
      font-size: 13px; }
    .item .details .expiration, .item .details .author {
      font-style: italic; }
  .item .details, .item .description {
    display: table; }
    .item .details .container, .item .description .container {
      display: table-cell;
      vertical-align: middle; }
  .item .description {
    position: absolute;
    left: 350px;
    height: 100%;
    top: 0px; }
  .item .description:last-child {
    right: 2px; }
  .item .description:not(:last-child) {
    right: 50px; }
  .item .actions {
    position: absolute;
    top: 0px;
    width: 50px;
    height: 100%;
    right: 2px; }
    .item .actions input, .item .actions form, .item .actions a {
      width: 100%;
      text-align: center; }
    .item .actions a {
      display: block; }
