{% extends "layout.html" %}
{%block stylesheets%}
{{super()}}
{{css("items/index")}}
{%endblock%}
{%block javascript%}
{{super()}}
{{js("items/carousel")}}
{%endblock%}
{% block content %}
{%macro product(itm) %}
<a class="product" href="#">
	<div class="thumbnail"></div>
	<div class="label">
		<span class="name">Settlers of Catan</span>
		<span class="price">$12</span>
	</div>
</a>
<div class="product-spacer"></div>
{%endmacro%}
{%macro product_carousel(title,list) %}
<div class="carousel-container">
	<h1>{{title}}</h1>
	<div class="carousel">
		<div class="carousel-contents">
			{{product(None)}}
			{{product(None)}}
			{{product(None)}}
			{{product(None)}}
			{{product(None)}}
		</div>
	</div>
	<div class="left-arrow"></div>
	<div class="right-arrow"></div>
	<div class="spacer"></div>
</div>
{%endmacro%}
{{product_carousel('Recently Added',recently_added)}}
{{product_carousel('About to Expire',[])}}
{%endblock%}