{%macro item_actions(itm)%}
{%if itm.removeable_by(current_user)%}{#all those who can edit item X can remove item X#}
<div class="actions">
	{%if itm.owner.key()==current_user.key()%}
	<a href="{{itm|url(action='edit')}}">Edit</a>
	{%endif%}
	<form action="{{itm|url(action='delete')}}" method="post" class="delete-form" data-completing-label="Deleting...">
		<input type="hidden" name="csrf_token" value="{{csrf_token}}"/>
		<input type="submit" value="Delete"/>
	</form>
</div>
{%endif%}
{%endmacro%}
{%macro item(itm)%}
<div class="item">
	<a class="thumbnail" href="{{itm|url}}" style="background-image:url('{{itm|url(named=False,action='picture')}}')"></a>
	<div class="details">
		<div class="container">
			<a class="name" href="{{itm|url}}">{{itm.name}}</a>
			<div class="price">{{itm.price|price}}</div>
			<div class="expiration">Expiration: {{convert_datetime(itm.expiration())|date}}</div>
			<div class="author"><a href="{{itm.owner|url}}">{{itm.owner.nickname}}</a></div>
		</div>
	</div>
	<div class="description">
		<div class="container">
			{{itm.description}}
		</div>
	</div>
	{{item_actions(itm)}}
</div>
{%endmacro%}
