{% extends "layout.html" %}
{%block stylesheets%}
{{super()}}
{{css("items/show")}}
{%endblock%}
{% set title=item.name %}
{%block content%}
{%from 'items/macros.html' import item_actions with context%}
<div id="right">
	<div class="name">{{item.name}}</div>
	<div class="thumbnail"></div>
	{{item_actions(item)}}
</div>
<div id="price"><span class="label">Price:</span> {{item.price|price}}</div>
<a id="owner" href="{{item.owner|url}}">{{item.owner.nickname}}</a>
<div id="expiration">Created on {{item.creation_time|date}}<br/>Expires on {{item.expiration()|date}}</div>
<div id="description">
	{{item.description}}
</div>
<div id="clearer"></div>
{%endblock%}