{% extends "layout.html" %}
{%block stylesheets%}
{{super()}}
{{css("items/show")}}
{%endblock%}
{% set title=item.name %}
{%macro item_actions(itm)%}
{%if itm.removeable_by(current_user)%}{#all those who can edit item X can remove item X#}
<div class="actions">
	{%if itm.owner.key()==current_user.key()%}
	<a href="{{itm|url(action='edit')}}">Edit</a>
	{%endif%}
	<form action="{{itm|url(action='delete')}}" method="post" class="delete-form" data-completing-label="Deleting...">
		{{csrf_field()}}
		<input type="submit" value="Delete"/>
	</form>
</div>
{%endif%}
{%endmacro%}
{%block content%}
<div id="right">
	<div class="name">{{item.name}}</div>
	<div class="thumbnail"></div>
	{{item_actions(item)}}
</div>
<div id="price"><span class="label">Price:</span> {{item.price|price}}</div>
<div id="expiration">Expires on {{item.expiration()|date}}</div>
<div id="description">
	{{item.description}}
</div>
<div id="clearer"></div>
{%endblock%}