@import "bourbon/bourbon";

#thumbnail{
	float:left;
	width:256px;
	height:256px;
	border:1px solid black;
	background-color:orange;
	text-align:center;
	@include user-select(none);
	position:relative;
	div{
		margin-top:-5px;
		height:10px;
		position:absolute;
		top:50%;
		left:0px;
		width:100%;
	}
}
#clearer{
	clear:both;
}
form{
	float:right;
	width:400px;
	.field{
		position:relative;
		height:25px;
		label{
			position:absolute;
			top:3px;
			left:0px;
			font-weight:bold;
		}
		input{
			position:absolute;
			top:0px;
			right:0px;
			left:50px;
		}
	}
	label[for=description]{
		display:block;
		font-weight:bold;
	}
	.expiration{
		text-align:center;
		font-style:italic;
	}
	textarea{
		resize:none;
		width:100%;
		height:200px;
	}
	.actions{
		a{
			padding-top:2px;
		}
		input{
			float:right;
		}
	}
}

#errors{
	color:red;
}